body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.side-nav {
  width: 240px;
}

.side-nav.fixed a {
  font-weight: 800;
  display: block;
}

@media(min-width:992px) {
  .side-nav.fixed .partners {
    position: fixed;
    bottom: 5em;
    margin-left: 55px;
  }
}


.side-nav.fixed .partners img {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 0 auto;
  padding: 0px 0;
}

main, footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  main, footer {
      padding-left: 0;
  }
}

.container {
  max-width: 90%;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 80%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
      width: 90%;
  }
}

.brand-logo {
  font-size: 30px !important;
  color: white !important;
  font-weight: 300 !important;
  padding: 0 15px;
  height: 64px;
  line-height: 64px;
}

.brand-logo-element {
  font-size: 25px !important;
  color: grey !important;
  font-weight: 300 !important;
  height: 64px;
  line-height: 64px;
}

nav .brand-logo {
  color: grey !important;
  font-size: 25px !important;
}

.atilla {
  color: #F7A325;
}

.date {
  font-size: 20px;
  color: grey;
  text-align: right;
}

.name {
  font-size: 30px;
}

.img-item {
  padding: 0 !important;
  max-height: 200px;
}

.img-item img {
  max-height: 200px; 
}

.learn-nav-item > .flow-text {
  line-height: 64px;
  height: 64px;
}

.flow-text > span.badge {
  margin: 0;
  line-height: inherit;
  height: inherit;
}

.multiple-select-dropdown label {
  top: -10px !important;
}