{% extends 'base.html' %}

{% block title %}Les conférenciers{% endblock %}
{% block subtitle %}Nos héros {% endblock %}


{% block description %}
Liste des conférenciers/formateurs sans qui tout ceci ne serait rien &lt;3
{% endblock %}

{% block content %}
    <div class="container">
      <h3 class="yellow-text text-darken-2">{{ landpage_title }}</h3>

      {% if entries %}
        <p class="flow-text">
            Vous trouverez ici tous nos conférenciers. Et ça c'est cool.
        </p>

        {% for slug, entry in entries.items() %}
          {% include 'includes/author-item.html' %}
        {% endfor %}
      {% else %}
        {% include 'includes/empty.html' %}
      {% endif %}

    </div>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://atilla.org/conferences.html",
          "name": "Conférences"
        }
      }]
    }
    </script>

{% endblock %}
