<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <link rel="icon" href="http://atilla.org/assets/img/favicon.ico">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="vendor/Materialize/dist/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" charset="utf-8">

    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}Learn est la plateforme d'appretissage de Atilla. Retrouvez nos talks, formations et conférences.{% endblock %}">

  </head>

  <body>
    {# Header #}
    <header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <div class="container">
            <a href="index.html" class="brand-logo flow-text"><span class="yellow-text text-darken-2">>~/</span>Learn</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="flow-text" href="trainings.html">Formations</a></li>
              <li><a class="flow-text" href="talks.html">Talks</a></li>
              <li><a class="flow-text" href="conferences.html">Conférences</a></li>
            </ul>

            {# Mobile nav #}
            <ul class="side-nav" id="mobile-demo">
              <li><a class="flow-text" href="trainings.html">Formations</a></li>
              <li><a class="flow-text" href="talks.html">Talks</a></li>
              <li><a class="flow-text" href="conferences.html">Conférences</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {# Main content #}
    {% block content %}
    {% endblock %}

    {# Footer #}
    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Learn Atilla</h5>
            <p class="grey-text text-lighten-4">Site proposé par l'association <a href="http://atilla.org" class="atilla">Atilla</a>.</p>
            <p class="grey-text text-lighten-4">Généré le {{ gen_time.strftime("%d/%m/%Y") }} à {{ gen_time.strftime("%H:%M") }},
              révision <a href="http://gitlab.etude.eisti.fr/learn-atilla/learn-atilla-org/commit/{{ git_sha1 }}">{{ git_sha1 }}</a>.</p>
            <a href="https://twitter.com/cy106" target="_blank"><img src="img/twitter.png"></a>
            <a href="https://www.facebook.com/atilla.org/" target="_blank"><img src="img/fb.png"></a>
            <a href="https://www.youtube.com/channel/UCvhqFFyH0V-6FBhzvuG58Jg" target="_blank"><img src="img/youtube.png"></a>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Liens</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="trainings.html">Formations</a></li>
              <li><a class="grey-text text-lighten-3" href="talks.html">Talks</a></li>
              <li><a class="grey-text text-lighten-3" href="conferences.html">Conférences</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="divider white container"></div>
        <div class="container">
        © 2015 Atilla
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>


    {# Script #}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="vendor/Materialize/dist/js/materialize.min.js"></script>

    {% block script %}{% endblock %}

    <script type="text/javascript">
         $(".button-collapse").sideNav();
    </script>


  </body>
</html>
