<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="css/materialize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script src="js/scroll.js"></script>

    <title>{{ title }}</title>
  </head>

  <body>
    {# Header #}
    <header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <div class="container">
            <a href="index.html" class="brand-logo flow-text"><span class="yellow-text text-darken-2">>~/</span>Learn</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="flow-text" href="trainings.html">Formations</a></li>
              <li><a class="flow-text" href="talks.html">Talks</a></li>
              <li><a class="flow-text" href="conferences.html">Conférences</a></li>
            </ul>
            
            {# Mobile nav #}
            <ul class="side-nav" id="mobile-demo">
              <li><a class="flow-text" href="trainings.html">Formations</a></li>
              <li><a class="flow-text" href="talks.html">Talks</a></li>
              <li><a class="flow-text" href="conferences.html">Conférences</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {# Main content #}
    {% block content %}
    {% endblock %}
        
    {# Footer #}
    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Learn Atilla</h5>
            <p class="grey-text text-lighten-4">Site proposé par l'association Atilla.</p>
            <p class="grey-text text-lighten-4">Généré à {{ gen_time }},
              révision <a href="http://gitlab.etude.eisti.fr/learn-atilla/learn-atilla-org/commit/{{ git_sha1 }}">{{ git_sha1 }}</a>.</p>
            <a href="https://twitter.com/cy106"><img src="img/twitter.png"></a>
            <a href="https://www.facebook.com/atilla.org/"><img src="img/fb.png"></a>
            <a href="https://www.youtube.com/channel/UCvhqFFyH0V-6FBhzvuG58Jg"><img src="img/youtube.png"></a>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Liens</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="trainings.html">Formations</a></li>
              <li><a class="grey-text text-lighten-3" href="talks.html">Talks</a></li>
              <li><a class="grey-text text-lighten-3" href="conferences.html">Conférences</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="divider white container"></div>
        <div class="container">
        © 2015 Atilla
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>

    {# Script #}
    <script type="text/javascript">
         $(".button-collapse").sideNav();
    </script>

  </body>
</html>
