<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/website#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="google-site-verification" content="30rEodAdJUH7y9YsTZI1RyWm3M3Xt2qIuRzfX-OgydU" />

    <link rel="icon" href="https://cdn.atilla.org/ico/favicon.ico">

    {# OpenGraph metadata #}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta.url }}" />
    <meta property="og:image" content="{{ meta.image }}" />
    <meta property="og:site_name" content="ATILLA">
    <meta property="og:description" content="{{self.description()}}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="vendor/Materialize/dist/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" charset="utf-8">

    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}Learn est la plateforme d'apprentissage d'ATILLA. Retrouvez nos talks, formations et conférences.{% endblock %}">

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.atilla.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.atilla.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>
    {# Header #}
    <header>
        <div class="side-nav fixed" id="mobile-demo">
          <a href="index.html" class="brand-logo flow-text blue-grey darken-3">
            <span class="yellow-text text-darken-2">>~/</span>Learn
          </a>

          <ul>
            <li class="learn-nav-item"><a class="flow-text" href="lives.html">Lives <span class="badge">{{ num.lives }}</span></a></li>
            <li class="learn-nav-item"><a class="flow-text" href="trainings.html">Formations <span class="badge">{{ num.trainings }}</span></a></li>
            <li class="learn-nav-item"><a class="flow-text" href="conferences.html">Conférences <span class="badge">{{ num.conferences }}</span></a></li>
            <li class="learn-nav-item"><a class="flow-text" href="talks.html">Talks <span class="badge">{{ num.talks }}</span></a></li>
            <li class="learn-nav-item"><a class="flow-text" href="authors.html">Auteurs <span class="badge">{{ num.authors }}</span></a></li>
          </ul>

          <div class="partners center">
            <p>
              En partenariat avec
            </p>
            <img src="img/cytech.png" alt="" />
          </div>
        </div>
    </header>

    {# Main content #}
    <main>
        <nav>
          <div class="nav-wrapper grey lighten-3">
            <div class="container">
              <a href="#" data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
              <a href="#!" class="brand-logo">{% block subtitle %}{% endblock %}</a>

              <div class="right hide-on-small-only" style="padding-top:7px;">
                <a href="https://twitter.com/cy106" target="_blank"><img height="50" width="50" src="img/twitter.png"></a>
                <a href="https://www.facebook.com/atilla.org/" target="_blank"><img height="50" width="50" src="img/fb.png"></a>
                <a href="https://www.youtube.com/channel/UCvhqFFyH0V-6FBhzvuG58Jg" target="_blank"><img height="50" width="50" src="img/youtube.png"></a>
                <a href="https://peertube.atilla.org/" target="_blank"><img height="50" width="50" src="img/peertube.png"></a>
              </div>
            </div>
          </div>
        </nav>
    {% block content %}
    {% endblock %}
    </main>

    {# Footer #}
    <footer class="page-footer blue-grey darken-5">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Learn Atilla</h5>
            <p class="grey-text text-lighten-4">Site proposé par l'association <a href="https://atilla.org" class="atilla">ATILLA</a>.</p>
            <p class="grey-text text-lighten-4">Généré le {{ gen_time.strftime("%d/%m/%Y") }} à {{ gen_time.strftime("%H:%M") }},
              révision <a href="https://github.com/Atilla-Learn/portal/commit/{{ git_sha1 }}">{{ git_sha1 }}</a>.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Liens</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="lives.html">Lives</a></li>
              <li><a class="grey-text text-lighten-3" href="trainings.html">Formations</a></li>
              <li><a class="grey-text text-lighten-3" href="conferences.html">Conférences</a></li>
              <li><a class="grey-text text-lighten-3" href="talks.html">Talks</a></li>
              <li><a class="grey-text text-lighten-3" href="authors.html">Auteurs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015-2024 ATILLA
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>



    {# Script #}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="vendor/Materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    {% block script %}{% endblock %}

    <script type="text/javascript">
        $(document).ready(function(){
          $(".button-collapse").sideNav();
        });
    </script>


  </body>
</html>
