{% extends 'base.html' %}

{% block title %}Les conférences{% endblock %}
{% block subtitle %}Conférences{% endblock %}


{% block description %}
Liste des conférences proposée par Atilla
{% endblock %}

{% block content %}
    <div class="container">
      <h3 class="yellow-text text-darken-2">{{ landpage_title }}</h3>

      {% if entries %}
        <p class="flow-text">
            Vous trouverez ici toutes les conférences. Et ça c'est cool.
        </p>

        {% for slug, entry in entries.items() %}
        <div class="row">
          <a class="col m6 s12" href="{{slug}}.html">
            <div class="card-panel no-padding row z-depth-1 hoverable black-text">
              <div class="col s4 no-padding">
                <img src="img/{{ entry.image }}" class="responsive-img"/>
              </div>
              <div class="col s8">
                <h4 class="date"><i class="fa fa-calendar-o"></i> {{ entry.date }}</h4>
                <h2 class="name">{{ entry.title }}</h2>
                <p>{{ entry.short }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      {% else %}
        {% include 'includes/empty.html' %}
      {% endif %}

    </div>
{% endblock %}
