{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="container">
      <h3 class="yellow-text text-darken-2">{{ landpage_title }}</h3>
      <p class="flow-text">
        {% if entries %}
          Vous trouverez ici toutes les conférences. Et ça c'est cool.
        {% else %}
          <div class="row">
            <div class="col s12 offset-m2 m8">
              <div class="card-panel grey lighten-2">
                <div class="">
                  <h4 class="center-align"><i class="fa fa-times-circle"></i>  Il y a pas de conférences pour le moment</h4>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </p>
      {% for slug, entry in entries.items() %}
        <a href="{{slug}}.html">
          <div class="card-panel row valign-wrapper z-depth-1 hoverable black-text">
            <div class="col s4 valign">
              <img src="img/{{ entry.image }}" class="responsive-img"/>
            </div>
            <div class="col s8 valign">
              <h2>{{ entry.title }}</h2>
              <h4><i class="fa fa-calendar-o"></i> {{ entry.date }}</h4>
              <p>{{ entry.short }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </main>

{% endblock %}

</html>
