{% extends 'base.html' %}

{% block content %}
<main>
  <div class="row grey darken-3">
    <div class="col offset-m2 m8 s12">
      <img src="img/prompt.png" class="responsive-img">
    </div>
    <div class="col s12 grey darken-2 center">
      <h4>
        <span class="flow-text white-text">Bienvenue sur la plateforme d'apprentissage d'</span><b><span class="flow-text yellow-text text-darken-2">ATILLA</span></b>
      </h4>
    </div>
  </div>
  <div class="row container">
    <div class="col s12">
      <h6 class="flow-text center"> Ce qu'on vous propose ? </h6>
    </div>
    <div class="container">
      <div class="col s12">
        <h5 class="flow-text center grey-text"> Une plateforme regroupant des formations, des talks et des conférences, le tout alimenté par une recette secrète à base de barbus et de cookies.</h5>
      </div>
    </div>
    <div class="col s6 offset-s3 center">
      <a class="btn-floating  btn-large waves-effect waves-light yellow darken-2" id="topbutton"><i class="mdi-navigation-expand-more"></i></a>
    </div>
  </div>
  <div class="row container">
    <div class="col s12">
      <h3 class="yellow-text text-darken-3">Formations</h3>
    </div>
    <div class="col s6">
      <br>
      <p class="flow-text" align="justify">
        Nous vous proposons de nombreuses formations sur des sujets variés. Vous pouvez ainsi découvrir un nouveau langage de programmation, une nouvelle bibliothèque logicielle ou comment utiliser un logiciel.
      </p>
      <p align="justify">
        Vous pouvez revoir les formations comme si vous y étiez, les cookies en moins.
      </p>
      <br>
      <a class="waves-effect waves-light btn-large yellow darken-3" href="trainings.html">
        <i class="material-icons left">code</i>
        Voir les formations
      </a>
    </div>
    <div class="col s5 offset-s1">
      <img src="img/logocircle.png" height="650">
    </div>
  </div>

  <div class="grey darken-2">
    <div class="row container" style="padding-top:20px;">
      <div class="col s12">
        <h3 class="white-text">Talks</h3>
      </div>
      <div class="col s5 center">
        <img src = "img/prompt copy.png" class="responsive-img" width="90%">
      </div>
      <div class="col s6 offset-s1">
        <p class="white-text flow-text" align="justify" style="padding: 1px 0;">
          Un groupe composé de membres d'Atilla et d'invités discute d'un sujet en rapport avec l'informatique au sens large : logiciel libre, défense de l'internet ou "boucle-if le meurtre comme solution" font partie de nos sujets de prédilections.
        </p>
        <a class="waves-effect waves-light btn-large yellow darken-3" href="talks.html">
          <i class="mdi-social-group right"></i>Voir les talktillas
        </a>
        <p style="padding: 1px 0;"></p>
      </div>
    </div>
  </div>
  <p style="padding: 1px 0;"></p>
  <div class="row container">
    <div class="col s12">
      <h3 class="yellow-text text-darken-3">Conférences</h3>
    </div>
    <div class="col s6">
      <p class="flow-text valign-wrapper" align="justify">
        Tout au long de l'année, Atilla vous propose des conférences. Si vous n'avez pas pu y aller et ne vous inquiétez pas, toutes les conférences sont disponibles en vidéo !
      </p>
      <p align="justify" style="padding: 1px 0;">
        N'hésitez pas à vous renseigner sur les conférences à venir.
      </p>
      <a class="waves-effect waves-light btn-large yellow darken-3" href="conferences.html">
        <i class="mdi-social-person left"></i>Voir les conférences
      </a>
    </div>
    <div class="col s5 offset-s1">
      <p style="padding: 1px 0;"></p>
      <img src="img/prompt copy copy.png" class="valign responsive-img" width="90%">
    </div>
  </div>
  <p style="padding: 1px 0;"></p>
</main>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $('#topbutton').click(function(){
    $('html, body').animate({
           scrollTop: 790
       }, 800);
  });
  $('ul.tabs').tabs();
});
</script>
{% endblock %}
