{% extends 'base.html' %}

{% block title %}Les talktillas{% endblock %}
{% block subtitle %}Talktillas{% endblock %}

{% block description %}
Liste des talks proposée par ATILLA
{% endblock %}

{% block content %}
    <div class="container">
      <h3 class="yellow-text text-darken-2">{{ landpage_title }}</h3>
      <p class="flow-text">
        {% if entries %}
          Vous trouverez ici tous les talks. Et ça c'est cool.
        {% else %}
          {% include 'includes/empty.html' %}
        {% endif %}
      </p>
      {% for slug, entry in entries.items() %}
        {% include 'includes/item.html' %}
      {% endfor %}
    </div>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://atilla.org/talks.html",
          "name": "Talktillas"
        }
      }]
    }
    </script>
{% endblock %}
